.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sources-nav,
.sources-categories {
    padding: 5px;
}

.sources-nav {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    align-items: flex-start;
    gap: 5px;
}

.sources-categories {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.sources-categories > div {
    height: 20px;
}

.sources {
    display: none;
    /* display: flex; */
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    gap: 10px;
}

.source__item {
    background: white;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.06), 0 1px 2px 0 rgba(0,0,0,0.06);
    /* background: #e1d9d8; */

    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    color: black;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.filter__btn {
    padding: 0.25em 1em;
    display: flex;
    align-items: center;
}



.source__item.active {
    background:rgb(247, 203, 198)
}
.source__item.active:hover {
    background:rgb(247, 203, 198)
}
.source__item:hover,
.source__item:focus {
    background:rgb(242, 220, 218)
}

.source__item-name {
    pointer-events: none;
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width:700px) {
    html {
        font-size: 14px
    }

    .filter__btn {
        margin: 0.2em;
    }

    header h1 {
        font-size: 25px !important;
        text-align: center;
    }

    .filter {
        flex-direction: column;
    }
}